#nav1
{
    height: 300px;
}
#nav2
{
    background-color: blue;
    margin-top: -50px;
}
  #navbar
  {
    margin: -100px;
  }
  #carousel
  {
    margin-top: -130px;
  }
  #service
  {
    border: 2px black solid;
    box-sizing: border-box;
    display: flex;
    background-color: azure;
  }
  #government
  {
    padding: 20px;
    border: 3px black solid;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 20px;
    width: 350px;
  }
  #login
  {
    padding: 20px;
    border: 3px black solid;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 20px;
  }