#form
{
    background-color: azure;
    padding: 20px;
}
#inside
{
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 30px;
}
#inner
{
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: blue;
    margin-top: 30px;
}